body {
    background-color: black;
}

h2 {
    font-size: 18px;
    padding: 10px 20px;
    color: #fff;
}

#video-chat-lobby {
    text-align: center;
    max-width: 600px;
    background-color: #141414;
    margin: 30px auto;
}

#video-chat-room {
  text-align: center;
}

#user-video {
  width: 0;
  height: 0;
}

#peer-video {
  width: 0;
  height: 0;
}

#next-round {
  position: absolute;
  bottom: 20px;
  left: 50%;
  width: 400px;
  transform: translateX(-50%);
  padding: 12px 24px;
  font-size: 18px;
  font-weight: bold;
  border: none;
  border-radius: 12px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  display: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  z-index: 10;
}

input {
  padding: 20px;
  box-sizing: border-box;
  background: #eee;
  display: block;
  width: 100%;
  background: rgb(255, 253, 253);
  font-family: Nunito;
  font-size: 16px;
}

button {
  background: #141414;
  color: #fff;
  font-size: 18px;
  padding: 12px 0;
  width: 100%;
}